name: Deploy to Play Store

on:
  push:
    branches:
      - dev_env

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.8'
          cache: true

      - name: Decode keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/upload-keystore.jks

      - name: Create key.properties
        run: |
            cat <<EOF > android/key.properties
            storePassword=${{ secrets.KEYSTORE_PASSWORD }}
            keyPassword=${{ secrets.KEY_PASSWORD }}
            keyAlias=${{ secrets.KEY_ALIAS }}
            storeFile=upload-keystore.jks
            EOF

      - name: Get dependencies
        run: flutter pub get
    
      - name: Create google-services.json (prod)
        run: |
            mkdir -p android/app/src/prod
            echo '${{ secrets.GOOGLE_SERVICES_JSON_PROD }}' > android/app/src/prod/google-services.json

      - name: Build App Bundle
        run: flutter build appbundle --release --flavor prod

      - name: Create service account json
        run: |
          echo '${{ secrets.PLAY_STORE_JSON_KEY }}' > service-account.json

      - name: Upload to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: service-account.json
          packageName: id.ebidan.aos
          releaseFiles: build/app/outputs/bundle/prodRelease/app-prod-release.aab
          track: internal
          status: completed
